{{#if textMode}}
    {{value}}
    <span class="edit-text"><span class="glyphicon glyphicon-pencil"></span></span>
{{else}}
    {{input value=inputValue}}
    <div class="action-buttons">
        <button class='save-text' {{action 'save'}}><span class="glyphicon glyphicon-ok"></span></button>
        <button class='cancel-edit' {{action 'cancel'}}><span class="glyphicon glyphicon-remove"></span></button>
    </div>
{{/if}}


